@media only screen and (max-width: 1690px) {
    .wrapper {
        background: none;
    }
}

@media only screen and (max-width: 1199px) {
    .calc {
        display: none;
    }

    .baner-1 {
        padding: 42px 20px;
    }

    .baner-1 p, .baner-1 a {
        font-size: 18px;
    }

    .baner-1 .proc-baner-1 {
        font-size: 30px;
        font-weight: 600;
        margin-left: 29px;
    }

    .baner-1 .baner-1-of {
        font-size: 20px;
        font-weight: 600;

    }

    .baner-2-s-2 .time-baner-2 p:last-child {
        padding-left: 0px;
        margin-left: -1px;
    }

    .baner-2 .baner-2-s-1 p:first-child, .baner-2 .baner-2-s-1 p:last-child {
        font-size: 18px
    }

    .baner-2 .baner-2-s-1 p:first-child span {
        font-size: 21px;
    }

    .baner-2 .baner-2-s-1 p:last-child span {
        padding: 0px 8px;
    }

    .baner-2 .baner-2-s-1 p:last-child {
        margin-bottom: 10px;
    }

    .baner-2-s-2 .time-baner-2 span {
        font-size: 19px;
        margin-right: 24px;
    }

    .baner-2-s-2 {
        margin-top: -45px;
    }

    .baner-2-s-2 .time-baner-2 p:first-child {
        margin-bottom: 0;
    }

    nav.header-nav ul li a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 991px) {
    .header-contact {
        font-size: 11px;
        line-height: 14px;
        padding: 26px 0 0 0;
    }

    nav.header-nav ul li a {
        font-size: 11px;
    }

    .login-order-link p a, .login-order-link p a {
        font-size: 11px;
    }

    .header-text h1 {
        margin-top: 0;
    }

    .logo a img {
        display: block;
        margin: 0 auto;
    }

    .header-contact {
        justify-content: center !important;
    }

    .baner-1 {
        padding: 76px 45px;
    }

    .baner-1 p, .baner-1 a {
        font-size: 22px;
        font-weight: 600;

    }

    .baner-1 .proc-baner-1 {
        font-size: 40px;
        font-weight: 700;
        margin-left: 43px;
    }

    .baner-1 .baner-1-of {
        font-size: 30px;
    }

    .baner-2-s-2 .time-baner-2 span {
        font-size: 19px;
        margin-right: 11px;
    }

    .baner-2-s-2 .time-baner-2 p:last-child {
        padding-left: 0px;
        margin-left: -6px;
    }

    .header-contact p {
        font-size: 12px;
    }

    .payment ul {
        padding-left: 0px;
    }

    .payment ul li a {
        letter-spacing: normal;
        font-size: 10px;
    }

    .payment ul li {
        margin-top: 19px;
    }

    .logo-payment, .payment {
        padding: 0;
    }

    .articles ul li a {
        font-size: 11px;
        line-height: 15px;
    }

    footer.footer h6 {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .contact div div p {
        font-size: 11px;
    }

    .contact div span {
        margin-right: 0px;
        font-size: 11px;
    }

    .contact div {
        margin-top: 18px;
    }

    .m60 {
        margin-top: 8px !important;
    }

    .footer-text {
        margin-top: 11px;
        margin-bottom: 11px;
        font-size: 11px !important;

    }

    .social div ul {
        padding-right: 0;
    }

    .contact div div p {
        line-height: 17px;
    }

    .footer-text {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
    }
    .footer-text-1 p{
        line-height: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .baner-1 {
        padding: 53px 20px;

    }

    .baner-1 p, .baner-1 a {
        font-size: 22px;
        font-weight: 600;

    }

    .baner-1 .proc-baner-1 {
        font-size: 31px;
        margin-left: 31px;
    }

    .baner-1 .baner-1-of {
        font-size: 24px;
    }

    .baner-2 .baner-2-s-1 {
        margin-left: 0px;
    }

    .baner-2-s-2 {
        margin-top: -35px;
    }

    .baner-2-s-2 {
        padding-right: 15px;
    }

    .header-contact {
        padding-top: 0;
    }

    .bg-header-2 .login-order-link p {
        display: flex;
        width: 50%;
        justify-content: center;
    }

    .login-order-link {
        justify-content: space-between !important;
    }

    .blog article img {
        width: 100%;
    }

    .pagination {
        margin-top: 50px;
    }

    .footer {
        margin-top: 25px;
    }

    .bredcr-title h1 {
        margin-top: 10px;
    }

    .breadcrumb {
        margin-top: -10px;
        margin-bottom: -30px;
    }
    .info-footer ul li{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 575px) {
    .baner-1 {
        width: 290px;
        padding: 18px 14px 18px 7px;
    }

    .baner-1 p, .baner-1 a {
        font-size: 12px;
    }

    .baner-1 .proc-baner-1 {
        font-size: 18px;
        margin-left: 24px;
    }

    .baner-1 .baner-1-of {
        font-size: 14px;
    }

    .baner-2-s-2 .time-baner-2 p:first-child {
        justify-content: space-between !important;
    }

    .baner-2-s-2 {
        display: flex;
        justify-content: center;
    }

    .baner-2 .baner-2-s-1 {
        text-align: center;
    }

    .baner-2-s-2 {
        margin-right: 0;
        padding-left: 15px;
    }

    .baner-2-s-2 .time-baner-2 p:last-child {
        font-size: 11px;
        margin-left: 7px;
    }

    .baner-2-s-2 .time-baner-2 span {
        margin-right: 7px;
    }

    .baner-2 .baner-2-s-1 {
        padding: 0px 1px 20px 0px;
    }

    .header-contact {
        justify-content: center !important;
    }

    .bg-header-2 .login-order-link p {
        opacity: 1 !important;
    }

    .bg-header-2 .login-order-link p a {
        background-color: #f7ab00;
        color: #ffffff;
        font-family: "Catamaran";
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        padding: 12px 0px;
        text-align: center;
    }

    .bg-header-2 .login-order-link p:last-child a {
        background-color: #12328d;
        color: #ffffff;
        font-family: "Catamaran";
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        padding: 12px 30px;
        text-align: center;
    }

    .yoda article {
        padding: 40px;
    }

}