@media only screen and (max-width: 1199px) {
    .calc {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .header-contact {
        font-size: 11px;
        line-height: 14px;
        padding: 26px 0 0 0;
    }

    nav.header-nav ul li a {
        font-size: 11px;
    }

    .login-order-link p a, .login-order-link p a {
        font-size: 11px;
    }

    .header-text h1 {
        margin-top: 0;
    }
    .logo a img{
        display: block;
        margin: 0 auto;
    }
    .header-contact{
        justify-content: center!important;
    }

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {

}