.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
p{
    opacity: 0.65;
    color: #071233;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}
.bg-blue{
    background-color: #12328d!important;
}
.line {
    border-bottom: 3px solid #89bfe1;
    width: 40px;
}
p-0{
    padding: 0!important;
}

a:hover {
    text-decoration: none;
}

.bg-header {
    background: url("../images/Vector_Smart_Object3.png") no-repeat left bottom, url("../images/9-layers.png") no-repeat center -7px / cover;
    padding-bottom: 30px;
}

.header-contact p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.breack {
    color: white;
    font-size: 20px;
    margin: -4px 20px 0 20px;
}

.header-contact p i {
    margin-right: 10px;
}

.logo {
    padding: 21px 0;
}

.header-contact {
    padding: 37px 0;
}

nav.header-nav ul li {
    list-style: none;
}

nav.header-nav ul li a {
    color: #ffffff;
    font-family: "Catamaran";
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

nav.header-nav ul {
    padding-left: 0;
}

.login-order-link p a, .login-order-link p a {
    font-family: "Catamaran";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-weight: 600;
    color: white;
}

.login-order-link p a i {
    margin-right: 10px;
}

.login-order-link p a:hover {
    color: #f7da98;
}

.header-text h1 {
    text-shadow: 3px 1px 1px rgba(4, 37, 63, 0.4);
    color: #ffffff;
    font-family: "Catamaran";
    font-size: 45px;
    font-weight: 800;
    line-height: 54px;
    margin-top: 84px;
}

.header-text p {
    opacity: 0.65;
    color: #ffffff;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.calc {
    padding: 53px 61px;
    margin-top: 84px;
    border-radius: 10px;
    box-shadow: 0 0 9px rgba(10, 34, 89, 0.15);
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
}

.calc h3 {
    color: #133087;
    font-family: Catamaran;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.calc label {
    color: #989b9e;
    font-family: Catamaran;
    font-size: 14px;
    font-weight: 500;
}

.calc input {
    box-shadow: 0 0 3px rgba(5, 14, 39, 0.3);
    background-color: #fcfcfc;
    border: none;
    padding: 28px 0 28px 19px;
}


.radios-as-buttons {
    display: flex;
    justify-content: space-between
}

.radios-as-buttons input {
    position: absolute;
    left: -9999px;
}

.radios-as-buttons label {
    display: block;
    padding: 21px 26px 15px 26px;
    box-shadow: 0 0 3px rgba(5, 14, 39, 0.3);
    background-color: #fcfcfc;
    cursor: pointer;
}

.radios-as-buttons input:checked + label {
    background-color: #12328d;
    color: white;
    border: none;
}

.radios-as-buttons div:first-child label {
    margin-left: 0;
    border-radius: 5px 0 0 5px;

}

.radios-as-buttons div:last-child label {
    border-radius: 0 5px 5px 0;
}

button.btn-outline-secondary {
    border: 1px solid rgba(100, 103, 110, 0.3);
}

button.btn-outline-secondary:hover, button.btn-outline-secondary:active {
    background-color: #12328d !important;
}

.btn-order-now {
    background-color: #f7ab00;
    color: #ffffff;
    font-family: "Catamaran";
    font-size: 14px;
    font-weight: 600;
    padding: 20px 60px;
    width: 100%;
}

.btn-order-now i {
    color: #ffffff;
    font-size: 11px;
}

.btn-order-now:hover {
    color: #ffffff;
    text-decoration: none;
}

.form-price p:nth-child(1) {
    color: #071233;
    font-family: Catamaran;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0;
}

.form-price p:nth-child(1) span:nth-child(1) {
    color: #021452;
    font-size: 27px;
    letter-spacing: -0.54px;
    font-weight: 600;
}

.form-price p:nth-child(1) span:nth-child(2) {
    letter-spacing: -0.6px;
    text-decoration: line-through;
    color: #989b9e;
}

.form-price p:nth-child(2) {
    opacity: 0.5;
    color: #071233;
    font-family: Catamaran;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
}

.bg-form {
    position: absolute;
    right: -20px;
    top: -20px;
}

.header-table tbody tr:nth-child(1) td:nth-child(1) {
    border-top: none;
    border-right: 3px solid #54b3e3;
}

.header-table tbody tr:nth-child(1) td:nth-child(2) {
    border-top: none;
}

.header-table tbody tr:nth-child(2) td {
    border-top: 3px solid #54b3e3;
}

.header-table tbody tr:nth-child(2) td:nth-child(1) {
    border-right: 3px solid #54b3e3;
}

.header-table tbody tr td span {
    color: #f7da98;
    font-family: "Catamaran - Extra Bold";
    font-size: 25px;
    font-weight: 700;
}

.header-table tbody tr td {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 5px;
}

.feedback p {
    color: #12328d;
    font-family: "Catamaran";
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 18px;
}

.feedback .feedback-text p {
    color: #898b8e;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 0;
    letter-spacing: -0.15px;
}

.feedback span {
    width: 92px;
    height: 36px;
    background: url("../images/Vector_Smart_Object1.png");
    background-repeat: no-repeat;
    display: block;
    margin-top: 5px;
}

.feedback span i {
    font-size: 11px;
    color: white;
    position: relative;
    top: -3px;
    left: 5px;
    margin-left: 3px;
}

.bg-block-2 {
    background: url("../images/6-layers.png") no-repeat  right -101px top;
    margin-top: -200px;
    padding-top: 400px;
    position: relative;
}
.bg-block-2-footer{
    background: url("../images/7-layers.png") no-repeat  top center / 100%;
    padding: 130px 15px;
}

.bg-block-2 .btn-order-now {
    width: 227px;
    height: 56px;
    border-radius: 5px;
    background-color: #12328d;
    margin-bottom: 150px;
}

.bg-block-2 h3 {
    color: #133087;
    font-family: "Catamaran";
    font-size: 43px;
    font-weight: 600;
    line-height: 52px;
}

.bg-block-2 p {
    opacity: 0.75;
    color: #898b8e;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 72px;
}

.contact-window {
    padding: 70px;
    /*padding: 70px 20px 70px 70px;*/
    margin-top: -100px;
    box-shadow: 0 0 9px rgba(10, 34, 89, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

.contact-window h4 {
    color: #113280;
    font-family: Catamaran;
    font-size: 32px;
    font-weight: 700;
    line-height: 57px;
}

.contact-window ul li {
    color: #898b8e;
    font-family: Catamaran;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
    list-style: none;

}
.contact-window ul{
    padding-left: 16px;
}
.contact-window ul li::before {
    content: "\2022";
    color: #3cc9ff;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.contact-window .line{
    width: 100%;
    border-bottom: 1px solid #e5e8e8;
    margin-bottom: 23px;
}
.contact-block-2 p{
    margin-bottom: 12px;
}
.contact-block-2 p i{
    color: #12328d;
    margin-right: 10px;
}
.map-cord{
    width: 203px;
    height: 89px;
    box-shadow: 0 0 9px rgba(10, 34, 89, 0.15);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 19px 29px;
    position: absolute;
    bottom:455px;
    right: 50px;
}
.map-cord span{
    font-size: 30px;
    color: rgba(10, 34, 89, 0.15);
}
.map-cord span i{
    font-size: 18px;
    color: #12328d;
}
.bg-block-2-footer p{
    color: #ffffff;
    font-family: "Catamaran";
    font-size: 30px;
    font-weight: 600;
    line-height: 43px;
}
.section-block-3{
    margin-top: 120px;
}
.section-block-3 h5{
    color: #133087;
    font-family: Catamaran;
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 20px;
}
.section-block-3 h5 span{
    opacity: 0.5;
    color: #133087;
    font-family: Catamaran;
    font-size: 23px;
    font-weight: 400;
    line-height: 52px;
    border-left: 3px solid #e7e7e7;
    padding-left: 15px;
    margin-left: 15px;
    padding-bottom: 3px;
}
.section-block-3 article{
    padding: 35px 30px;
    border: 1px solid #e7e7e7;
}
.section-block-3  article:hover{
    background-color: #f4fcff;
}
.section-block-3  article .block-3-title{
    color: #071233;
    font-family: Catamaran;
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    opacity: 0.65;
}
.section-block-3  article p{
    opacity: 0.5;
    color: #071233;
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.more{
    padding: 0 30px;
}
.more p a{
    color: #133087;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 500;
    line-height: 80px;
}
.btn-block-3{
    margin-top: 60px;
}