.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

p {
    opacity: 0.65;
    color: #071233;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.bg-blue {
    background-color: #12328d !important;
}

.line {
    border-bottom: 3px solid #89bfe1;
    width: 40px;
}

p-0 {
    padding: 0 !important;
}

a:hover {
    text-decoration: none;
}

.bg-header {
    background: url("../images/Vector_Smart_Object3.png") no-repeat left bottom, url("../images/9-layers.png") no-repeat center -7px / cover;
    padding-bottom: 30px;
}

.header-contact p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.breack {
    color: white;
    font-size: 20px;
    margin: -4px 20px 0 20px;
}

.header-contact p i {
    margin-right: 10px;
}

.logo {
    padding: 21px 0;
}

.header-contact {
    padding: 37px 0;
}

nav.header-nav ul li {
    list-style: none;
}

nav.header-nav ul li a {
    color: #ffffff;
    font-family: "Catamaran";
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

nav.header-nav ul {
    padding-left: 0;
}

.login-order-link p a, .login-order-link p a {
    font-family: "Catamaran";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-weight: 600;
    color: white;
}

.login-order-link p a i {
    margin-right: 10px;
}

.login-order-link p a:hover {
    color: #f7da98;
}

.header-text h1 {
    text-shadow: 3px 1px 1px rgba(4, 37, 63, 0.4);
    color: #ffffff;
    font-family: "Catamaran";
    font-size: 45px;
    font-weight: 800;
    line-height: 54px;
    margin-top: 84px;
}

.header-text p {
    opacity: 0.65;
    color: #ffffff;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.calc {
    padding: 53px 61px;
    margin-top: 84px;
    border-radius: 10px;
    box-shadow: 0 0 9px rgba(10, 34, 89, 0.15);
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
}

.calc h3 {
    color: #133087;
    font-family: Catamaran;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

.calc label {
    color: #989b9e;
    font-family: Catamaran;
    font-size: 14px;
    font-weight: 500;
}

.calc input {
    box-shadow: 0 0 3px rgba(5, 14, 39, 0.3);
    background-color: #fcfcfc;
    border: none;
    padding: 28px 0 28px 19px;
}


.radios-as-buttons {
    display: flex;
    justify-content: space-between
}

.radios-as-buttons input {
    position: absolute;
    left: -9999px;
}

.radios-as-buttons label {
    display: block;
    padding: 21px 26px 15px 26px;
    box-shadow: 0 0 3px rgba(5, 14, 39, 0.3);
    background-color: #fcfcfc;
    cursor: pointer;
}

.radios-as-buttons input:checked + label {
    background-color: #12328d;
    color: white;
    border: none;
}

.radios-as-buttons div:first-child label {
    margin-left: 0;
    border-radius: 5px 0 0 5px;

}

.radios-as-buttons div:last-child label {
    border-radius: 0 5px 5px 0;
}

button.btn-outline-secondary {
    border: 1px solid rgba(100, 103, 110, 0.3);
}

button.btn-outline-secondary:hover, button.btn-outline-secondary:active {
    background-color: #12328d !important;
}

.btn-order-now {
    background-color: #f7ab00;
    color: #ffffff;
    font-family: "Catamaran";
    font-size: 14px;
    font-weight: 600;
    padding: 20px 60px;
    width: 100%;
}

.btn-order-now i {
    color: #ffffff;
    font-size: 11px;
}

.btn-order-now:hover {
    color: #ffffff;
    text-decoration: none;
}

.form-price p:nth-child(1) {
    color: #071233;
    font-family: Catamaran;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0;
}

.form-price p:nth-child(1) span:nth-child(1) {
    color: #021452;
    font-size: 27px;
    letter-spacing: -0.54px;
    font-weight: 600;
}

.form-price p:nth-child(1) span:nth-child(2) {
    letter-spacing: -0.6px;
    text-decoration: line-through;
    color: #989b9e;
}

.form-price p:nth-child(2) {
    opacity: 0.5;
    color: #071233;
    font-family: Catamaran;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
}

.bg-form {
    position: absolute;
    right: -20px;
    top: -20px;
}

.header-table tbody tr:nth-child(1) td:nth-child(1) {
    border-top: none;
    border-right: 3px solid #54b3e3;
}

.header-table tbody tr:nth-child(1) td:nth-child(2) {
    border-top: none;
}

.header-table tbody tr:nth-child(2) td {
    border-top: 3px solid #54b3e3;
}

.header-table tbody tr:nth-child(2) td:nth-child(1) {
    border-right: 3px solid #54b3e3;
}

.header-table tbody tr td span {
    color: #f7da98;
    font-family: "Catamaran - Extra Bold";
    font-size: 25px;
    font-weight: 700;
}

.header-table tbody tr td {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 5px;
}

.feedback p {
    color: #12328d;
    font-family: "Catamaran";
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 18px;
}

.feedback .feedback-text p {
    color: #898b8e;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 0;
    letter-spacing: -0.15px;
}

.feedback span {
    width: 92px;
    height: 36px;
    background: url("../images/Vector_Smart_Object1.png");
    background-repeat: no-repeat;
    display: block;
    margin-top: 5px;
}

.feedback span i {
    font-size: 11px;
    color: white;
    position: relative;
    top: -3px;
    left: 5px;
    margin-left: 3px;
}

.bg-block-2 {
    background: url("../images/6-layers.png") no-repeat right -101px top;
    margin-top: -200px;
    padding-top: 400px;
    position: relative;
}

.bg-block-2-footer {
    background: url("../images/7-layers.png") no-repeat top center / 100%;
    padding: 130px 15px;
}

.bg-block-2 .btn-order-now {
    width: 227px;
    height: 56px;
    border-radius: 5px;
    background-color: #12328d;
    margin-bottom: 150px;
}

.bg-block-2 h3 {
    color: #133087;
    font-family: "Catamaran";
    font-size: 43px;
    font-weight: 600;
    line-height: 52px;
}

.bg-block-2 p {
    opacity: 0.75;
    color: #898b8e;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 72px;
}

.contact-window {
    padding: 70px;
    /*padding: 70px 20px 70px 70px;*/
    margin-top: -100px;
    box-shadow: 0 0 9px rgba(10, 34, 89, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

.contact-window h4 {
    color: #113280;
    font-family: Catamaran;
    font-size: 32px;
    font-weight: 700;
    line-height: 57px;
}

.contact-window ul li {
    color: #898b8e;
    font-family: Catamaran;
    font-size: 17px;
    font-weight: 400;
    line-height: 35px;
    list-style: none;

}

.contact-window ul {
    padding-left: 16px;
}

.contact-window ul li::before {
    content: "\2022";
    color: #3cc9ff;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.contact-window .line {
    width: 100%;
    border-bottom: 1px solid #e5e8e8;
    margin-bottom: 23px;
}

.contact-block-2 p {
    margin-bottom: 12px;
}

.contact-block-2 p i {
    color: #12328d;
    margin-right: 10px;
}

.map-cord {
    width: 203px;
    height: 89px;
    box-shadow: 0 0 9px rgba(10, 34, 89, 0.15);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 19px 29px;
    position: absolute;
    bottom: 455px;
    right: 50px;
}

.map-cord span {
    font-size: 30px;
    color: rgba(10, 34, 89, 0.15);
}

.map-cord span i {
    font-size: 18px;
    color: #12328d;
}

.bg-block-2-footer p {
    color: #ffffff;
    font-family: "Catamaran";
    font-size: 30px;
    font-weight: 600;
    line-height: 43px;
}

.section-block-3 {
    margin-top: 120px;
}

.section-block-3 h5, .section-block-5 h5 {
    color: #133087;
    font-family: Catamaran;
    font-size: 30px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 20px;
}

.section-block-3 h5 span, .section-block-5 h5 span {
    opacity: 0.5;
    color: #133087;
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 400;
    line-height: 52px;
    border-left: 3px solid #e7e7e7;
    padding-left: 15px;
    margin-left: 15px;
    padding-bottom: 3px;
}

.section-block-3 article {
    padding: 35px 30px;
    border: 1px solid #e7e7e7;
}

.section-block-3 article:hover {
    background-color: #f4fcff;
}

.section-block-3 article .block-3-title {
    color: #071233;
    font-family: Catamaran;
    font-size: 19px;
    font-weight: 500;
    line-height: 27px;
    opacity: 0.65;
}

.section-block-3 article p {
    opacity: 0.5;
    color: #071233;
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.more {
    padding: 0 30px;
}

.more p a {
    color: #133087;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 500;
    line-height: 80px;
}

.btn-block-3 {
    margin-top: 60px;
}

.bg-block-3 {
    background: url("../images/15-layers.png") no-repeat right top;
}

.right-block-4 .btn-order-now {
    width: 50%;
    margin-top: 50px;
}

.bg-block-4 {
    background: url("../images/16-layers .png") no-repeat right top / 20%, url("../images/17-layers.png") no-repeat left bottom / 41%;
}

.left-block-4 i, .right-block-4 i {
    background-color: #f7ab00;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
}

.left-block-4 {
    margin-top: 130px;
}

.right-block-4 {
    margin-top: 35%;

}

.right-block-4 h5, .left-block-4 h5 {
    color: #133087;
    font-family: "Catamaran";
    font-size: 23px;
    font-weight: 600;
    line-height: 52px;
    margin-top: 35px;
}

.section-block-5 {
    padding-top: 170px;
}

.section-block-5 .btn-order-now {
    width: 50%;
    margin-top: 50px;
}

.section-right-block-5 {
    margin-top: 170px;
}

.section-right-block-5 div div {
    box-shadow: 0 0 9px rgba(10, 34, 89, 0.1);
    background-color: #f4fcff;
    padding: 30px 30px 30px 30px;
    margin: 0px 0px 30px 0;
    height: 275px;
}

.panel p {
    opacity: 0.5;
    color: #071233;
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 400;
}

.panel p:nth-child(2) {
    opacity: 0.75;
    color: #071233;
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.panel img {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.section-block-6 {
    box-shadow: 0 0 9px rgba(10, 34, 89, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px 100px 0px 90px;
}

.section-block-6 article {
    padding-bottom: 20px;
    padding-top: 35px;
    border-bottom: 1px solid #d7d7d7;
}

.section-block-6 article h5 {
    color: #133087;
    font-family: Catamaran;
    font-size: 27px;
    font-weight: 700;
    line-height: 52px;
}

.section-block-6 article p a {
    color: #133087 !important;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 600;
    line-height: 80px;
}

.section-block-6 article p a i {
    font-size: 11px;
    color: #133087 !important;

}

.section-block-6 article:last-child {
    border: none;
}

.bg-block-6 h3 {
    color: #133087;
    font-family: Catamaran;
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
    margin-top: 60px;
    margin-bottom: 290px;
}

.bg-block-6 div div div > p {
    color: #071233;
    font-family: "Catamaran";
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    padding-left: 90px;
    margin-top: 250px;
}

.section-block-6-2 {
    background-color: #f4fcff;
}

.bg-block-6 {
    background: url("../images/18-layers.png") no-repeat right top 190px;
}

.footer {
    /*padding: 100px 0;*/
    background-color: #021452;
    margin-top: 100px;
}

.footer .link-logo .logo-text .main-logo-text span {
    color: white;
}

.logo-payment, .payment {
    padding: 38px 0;
}

.payment ul {
    display: flex;
    justify-content: flex-end;
}

.payment ul li {
    list-style: none;
    margin-right: 11px;
    margin-top: 32px;
}

.payment ul li a {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    /* Text style for "Prices" */
    letter-spacing: 0.24px;
}

footer.footer h6 {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 30px;
}

footer.footer ul.footer-nav {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
}

.my-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer.footer ul.footer-nav li a {
    color: #ffffff;
}

.center-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;

}

.contact div span {
    float: left;
    margin-right: 20px;

}

/*.contact div div p:nth-child(1) {*/
/*    color: #a3a6a9;*/
/*    font-family: "Open Sans";*/
/*    font-size: 13px;*/
/*    font-weight: 400;*/
/*    line-height: 16px;*/
/*    margin-bottom: 13px;*/
/*}*/

.contact div div p {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.social div ul li {
    list-style: none;
}

.social div ul li a:hover {
    text-decoration: none;
}

.social div ul {
    padding-left: 0;
    padding-right: 100px;
    width: 100%;
}

.articles p a {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}

.articles ul li {
    list-style: none;
    line-height: 17px;
}

.articles ul {
    padding-left: 0;
}

.articles ul li a {
    opacity: 0.5;
    color: #ffffff;
    font-family: Catamaran;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.footer-text {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact div {
    margin-top: 30px;
}

.social div ul li a {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #0b2f6c;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: 20px;
}

.social div ul li a i {
    color: white !important;

}

.social div ul li a:hover {
    background: #247cb5;
}

.footer-text-1 p {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.footer-text-2 p {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}

.footer-text-3 p {
    color: #ffffff;
    font-family: Catamaran;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
}

.m60 {
    margin-top: 60px;
}

.bg-header-2 .header-contact p, .bg-header-2 nav.header-nav ul li a, .bg-header-2 .login-order-link p a {
    color: #3c3d3e;
}

.bg-header-2 nav.header-nav ul li a:hover {
    color: #12328d !important;
}

.bg-header-2 .login-order-link p a:hover {
    color: #c88500 !important;
}

.bg-header-2 header div.container {
    border-bottom: 1px solid #f2f2f2;
}

.wrapper {
    background: url("../images/bg-header-2.png") no-repeat left -190px top -200px;
}

.blog {
    margin-top: 40px;
}

.blog article h2 a {
    color: #12328d;
    font-family: "Catamaran";
    font-size: 17px;
    font-weight: 600;
}

.blog article p {
    margin-top: 15px;
    margin-bottom: 0;
}

.blog article {
    box-shadow: 0 0 9px rgba(10, 34, 89, 0.15);
    background-color: #ffffff;
    margin-bottom: 50px;
}

.blog-post-prev {
    padding: 0 24px 0px 24px;
}

.btn-blog {
    width: 100%;
    margin-bottom: -76px;
    border-radius: 0 0 10px 10px;
    background-color: #65d4fd;
    color: #ffffff;
    font-family: "Catamaran";
    font-size: 15px;
    font-weight: 600;
    line-height: 38px;
    z-index: -1;
}

.btn-blog:hover {
    background-color: #12328d !important;
    color: white;

}

.page-link {
    position: relative;
    display: block;
    padding: 0;
    margin-left: 30px;
    line-height: 1.25;
    color: #3c3d3e;
    background-color: #fff;
    border: none;
    padding: 5px 10px;

}
.pagination{
    margin-top: 95px;

}
.page-link:hover{
    background-color: #021452;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
}
.active{
    background-color: #021452;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
}
.page-item:last-child .page-link, .page-item.disabled .page-link{
    border-radius: 50%;
}
.cat-blog ul li a i {
    color: #51555a;
    margin-top: 6px;
    margin-right: 0;
    text-align: right;
}
.cat-blog ul li a {
    color: #51555a;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.baner ul li {
    list-style: none;
    color: #51555a;
    padding: 5px 0;
    border-bottom: 1px solid #f0f0f1;
}
.baner ul {
    padding-left: 0;
}
.baner h3 {
    border-bottom:1px solid #65d5fe;
    padding-bottom: 20px;
    padding-top: 20px;
}

